body {
    padding: 1em 0;
    font: 24px/34px 'Helvetica Neue', Helvetica, sans-serif;
}
article, h1 {
    max-width: 800px;
    margin: 0 auto;
}
figure, h1 {
    text-align: center;
    padding: .5em;
    display: block;
    margin: 0;
}
.striked {
    text-decoration: line-through;
}